<div class="full">
    <div layout="column" layout-sm="column" layout-margin layout-fill layout-align="center center">
        <h1 class="md-display-4">Angular Poll</h1>
        <div layout="row" layout-sm="column" layout-align="center center">
            <md-button class="md-raised md-primary md-padding login-button-first" ng-click="onGoogleLogin()">
                <md-icon md-svg-src="/app/images/icon-google.svg"
                        ng-style="{ height: '32px' }"
                        >
                </md-icon>
                Login with Google
            </md-button>
            <md-button class="md-raised md-primary md-padding" ng-click="onAnonymousLogin()">
                <md-icon md-svg-src="/app/images/icon-user.svg"
                         ng-style="{  height: '32px' }"
                         class="md-default-theme">
                </md-icon>
                Login Anonymously
            </md-button>
        </div>
    </div>
</div>
